<h3><%= @robot.name %></h3>
 <p><%= @robot.price %></p>
 <p><%= @robot.functions %></p>
 <p><%= @robot.caracteristics %></p>



<div class="container">
  <div>
    <div class="robot-details">Nom + details du robot
      <h3><%= @robot.name %></h3>
      <p><%= @robot.functions %></p>
      <p><%= @robot.caracteristics %></p>
      <p><%= @robot.price %></p>
      <p><%= @robot. %></p>
    </div>
    <div class="robot-picture-bouton">photo du robot + bouton pour collapse</div>
  </div>
  <div>
    form de resa
  </div>
  <div>
    <div>Reviews</div>
    <div>Reviews'cards</div>
  </div>
</div>

