<div class="container">
  <div class="robot card">
    <div class="robot-details">
      <h3><%= @robot.name %></h3>
      <p><%= @robot.functions %></p>
      <p><%= @robot.caracteristics %></p>
    </div>
    <div class="robot-picture-button">
      <%= image_tag "BB-8_Clean_legal_line_1024x1024.jpg", id: "robot-picture" %>
      <div class="price-and-button">
        <p><%= @robot.price %></p>
        <a href="#" class="btn btn-info">Book me</a>
      </div>
    </div>
  </div>
  <hr>
  <div>formulaire saisi avec un collapse sur le bouton "Book me"
    <h4>When do you want to book this robot ?</h4>
    <%= simple_form_for (@booking) do |f| %>
      <%= f.text_field :beginning_of_rental, hide_label: true, class: 'datepicker' %></p>
      <%= f.text_field :end_of_rental, hide_label: true, class: 'datepicker' %></p>
      <%= f.submit "finalize the order", class: "btn btn-primary" %>
    <% end %>
  </div>
  <hr>
  <div>
    <div>Reviews</div>
    <div>Reviews'cards</div>
  </div>
</div>
